.elementor-24863 .elementor-element.elementor-element-ca04083{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;--z-index:99;}.elementor-24863 .elementor-element.elementor-element-ca04083:not(.elementor-motion-effects-element-type-background), .elementor-24863 .elementor-element.elementor-element-ca04083 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-24863 .elementor-element.elementor-element-ca04083.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-24863 .elementor-element.elementor-element-c2a87b8{--display:flex;--min-height:97px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-24863 .elementor-element.elementor-element-c2a87b8:not(.elementor-motion-effects-element-type-background), .elementor-24863 .elementor-element.elementor-element-c2a87b8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-24863 .elementor-element.elementor-element-1d1db02{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:center;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-24863 .elementor-element.elementor-element-5f84770 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-24863 .elementor-element.elementor-element-5f84770.elementor-element{--align-self:center;}.elementor-24863 .elementor-element.elementor-element-5f84770{text-align:start;}.elementor-24863 .elementor-element.elementor-element-5f84770 img{width:100%;height:60px;object-fit:contain;object-position:center left;}.elementor-24863 .elementor-element.elementor-element-4df9601{--display:flex;}.elementor-widget-icon.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-primary );}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon-wrapper{text-align:center;}.elementor-24863 .elementor-element.elementor-element-e878abf.elementor-view-stacked .elementor-icon{background-color:#E8A35D;}.elementor-24863 .elementor-element.elementor-element-e878abf.elementor-view-framed .elementor-icon, .elementor-24863 .elementor-element.elementor-element-e878abf.elementor-view-default .elementor-icon{color:#E8A35D;border-color:#E8A35D;}.elementor-24863 .elementor-element.elementor-element-e878abf.elementor-view-framed .elementor-icon, .elementor-24863 .elementor-element.elementor-element-e878abf.elementor-view-default .elementor-icon svg{fill:#E8A35D;}.elementor-24863 .elementor-element.elementor-element-e878abf.elementor-view-stacked .elementor-icon:hover{background-color:#E8A35D;}.elementor-24863 .elementor-element.elementor-element-e878abf.elementor-view-framed .elementor-icon:hover, .elementor-24863 .elementor-element.elementor-element-e878abf.elementor-view-default .elementor-icon:hover{color:#E8A35D;border-color:#E8A35D;}.elementor-24863 .elementor-element.elementor-element-e878abf.elementor-view-framed .elementor-icon:hover, .elementor-24863 .elementor-element.elementor-element-e878abf.elementor-view-default .elementor-icon:hover svg{fill:#E8A35D;}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon{padding:8px;}.elementor-24863 .elementor-element.elementor-element-45103bc .elementor-icon-wrapper{text-align:center;}.elementor-24863 .elementor-element.elementor-element-45103bc.elementor-view-stacked .elementor-icon{background-color:#04293800;color:#202153;}.elementor-24863 .elementor-element.elementor-element-45103bc.elementor-view-framed .elementor-icon, .elementor-24863 .elementor-element.elementor-element-45103bc.elementor-view-default .elementor-icon{color:#04293800;border-color:#04293800;}.elementor-24863 .elementor-element.elementor-element-45103bc.elementor-view-framed .elementor-icon, .elementor-24863 .elementor-element.elementor-element-45103bc.elementor-view-default .elementor-icon svg{fill:#04293800;}.elementor-24863 .elementor-element.elementor-element-45103bc.elementor-view-framed .elementor-icon{background-color:#202153;}.elementor-24863 .elementor-element.elementor-element-45103bc.elementor-view-stacked .elementor-icon svg{fill:#202153;}.elementor-24863 .elementor-element.elementor-element-45103bc .elementor-icon{font-size:20px;padding:8px;}.elementor-24863 .elementor-element.elementor-element-45103bc .elementor-icon svg{height:20px;}.elementor-widget-nav-menu .elementor-nav-menu .elementor-item{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-text );fill:var( --e-global-color-text );}.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-accent );fill:var( --e-global-color-accent );}.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:var( --e-global-color-accent );}.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
					.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after{border-color:var( --e-global-color-accent );}.elementor-widget-nav-menu{--e-nav-menu-divider-color:var( --e-global-color-text );}.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-24863 .elementor-element.elementor-element-d3a1f2f{width:var( --container-widget-width, 80% );max-width:80%;--container-widget-width:80%;--container-widget-flex-grow:0;--e-nav-menu-horizontal-menu-item-margin:calc( 40px / 2 );}.elementor-24863 .elementor-element.elementor-element-d3a1f2f.elementor-element{--align-self:center;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-menu-toggle{margin-left:auto;background-color:#FFFFFF;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu .elementor-item{font-family:"Avenir", Sans-serif;font-size:17px;font-weight:600;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main .elementor-item{color:#202153;fill:#202153;padding-left:0px;padding-right:0px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main .elementor-item:hover,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main .elementor-item:focus{color:#042938B3;fill:#042938B3;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#44AEE3;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:40px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a, .elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-menu-toggle{color:#042938;fill:#042938;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a:hover,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a:focus,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a.highlighted,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-menu-toggle:hover,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-menu-toggle:focus{color:#042938B3;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a:hover,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a:focus,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a.highlighted{background-color:#FBFBFB;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a.elementor-item-active{color:var( --e-global-color-a602318 );}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown .elementor-item, .elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Avenir", Sans-serif;font-size:17px;font-weight:600;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown{border-style:solid;border-width:0px 0px 2px 0px;border-color:var( --e-global-color-a602318 );}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a{padding-top:15px;padding-bottom:15px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown li:not(:last-child){border-style:solid;border-color:#0429380A;border-bottom-width:1px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:5px !important;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f div.elementor-menu-toggle{color:var( --e-global-color-a8f1ecc );}.elementor-24863 .elementor-element.elementor-element-d3a1f2f div.elementor-menu-toggle svg{fill:var( --e-global-color-a8f1ecc );}.elementor-24863 .elementor-element.elementor-element-d3a1f2f div.elementor-menu-toggle:hover, .elementor-24863 .elementor-element.elementor-element-d3a1f2f div.elementor-menu-toggle:focus{color:var( --e-global-color-a602318 );}.elementor-24863 .elementor-element.elementor-element-d3a1f2f div.elementor-menu-toggle:hover svg, .elementor-24863 .elementor-element.elementor-element-d3a1f2f div.elementor-menu-toggle:focus svg{fill:var( --e-global-color-a602318 );}.elementor-24863 .elementor-element.elementor-element-dc78fe9{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-24863 .elementor-element.elementor-element-1868b02 .elementor-button{background-color:#61CE7000;font-family:"Criteria CF Test", Sans-serif;font-size:18px;font-weight:700;text-transform:uppercase;line-height:24px;fill:var( --e-global-color-a8f1ecc );color:var( --e-global-color-a8f1ecc );border-radius:360px 360px 360px 360px;padding:0px 0px 0px 0px;}.elementor-24863 .elementor-element.elementor-element-1868b02{width:auto;max-width:auto;}.elementor-24863 .elementor-element.elementor-element-1868b02 .elementor-button-content-wrapper{flex-direction:row;}.elementor-24863 .elementor-element.elementor-element-afde90d{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-24863 .elementor-element.elementor-element-9d2b6fe .elementor-icon-wrapper{text-align:center;}.elementor-24863 .elementor-element.elementor-element-9d2b6fe.elementor-view-stacked .elementor-icon{background-color:#202153;}.elementor-24863 .elementor-element.elementor-element-9d2b6fe.elementor-view-framed .elementor-icon, .elementor-24863 .elementor-element.elementor-element-9d2b6fe.elementor-view-default .elementor-icon{color:#202153;border-color:#202153;}.elementor-24863 .elementor-element.elementor-element-9d2b6fe.elementor-view-framed .elementor-icon, .elementor-24863 .elementor-element.elementor-element-9d2b6fe.elementor-view-default .elementor-icon svg{fill:#202153;}.elementor-24863 .elementor-element.elementor-element-9d2b6fe .elementor-icon{font-size:20px;}.elementor-24863 .elementor-element.elementor-element-9d2b6fe .elementor-icon svg{height:20px;}.elementor-24863 .elementor-element.elementor-element-429bee3 .elementor-button{background-color:#F59F52;font-family:"Criteria CF Bold", Sans-serif;font-size:18px;font-weight:700;text-transform:uppercase;fill:#FFFFFF;color:#FFFFFF;border-radius:36px 36px 36px 36px;padding:0.5rem 1.25rem 0.5rem 1.25rem;}.elementor-24863 .elementor-element.elementor-element-429bee3 .elementor-button:hover, .elementor-24863 .elementor-element.elementor-element-429bee3 .elementor-button:focus{background-color:#B8773E;}.elementor-24863 .elementor-element.elementor-element-bb3230c{--display:flex;--min-height:55px;--justify-content:center;--align-items:stretch;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--gap:0px 0px;--row-gap:0px;--column-gap:0px;--flex-wrap:wrap;--align-content:center;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-24863 .elementor-element.elementor-element-bb3230c:not(.elementor-motion-effects-element-type-background), .elementor-24863 .elementor-element.elementor-element-bb3230c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F0F9FF;}.elementor-24863 .elementor-element.elementor-element-2048405{width:100%;max-width:100%;}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(max-width:1366px){.elementor-24863 .elementor-element.elementor-element-ca04083{--justify-content:space-between;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-24863 .elementor-element.elementor-element-5f84770 img{width:100%;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f{--e-nav-menu-horizontal-menu-item-margin:calc( 20px / 2 );}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:20px;}}@media(max-width:1200px){.elementor-24863 .elementor-element.elementor-element-ca04083{--gap:20px 20px;--row-gap:20px;--column-gap:20px;--padding-top:15px;--padding-bottom:15px;--padding-left:0px;--padding-right:15px;}.elementor-24863 .elementor-element.elementor-element-5f84770 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-24863 .elementor-element.elementor-element-5f84770.elementor-element{--align-self:center;}.elementor-24863 .elementor-element.elementor-element-5f84770 img{width:100%;height:55px;}.elementor-24863 .elementor-element.elementor-element-4df9601{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;--gap:10px 10px;--row-gap:10px;--column-gap:10px;}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon{font-size:20px;}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon svg{height:20px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f{--container-widget-width:30px;--container-widget-flex-grow:0;width:var( --container-widget-width, 30px );max-width:30px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu .elementor-item{font-size:16px;}}@media(max-width:1024px){.elementor-24863 .elementor-element.elementor-element-ca04083{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-24863 .elementor-element.elementor-element-c2a87b8{--justify-content:space-between;--align-items:stretch;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-top:0px;--padding-bottom:0px;--padding-left:20px;--padding-right:20px;}.elementor-24863 .elementor-element.elementor-element-5f84770.elementor-element{--align-self:center;}.elementor-24863 .elementor-element.elementor-element-5f84770{text-align:start;}.elementor-24863 .elementor-element.elementor-element-5f84770 img{width:150px;height:45px;}.elementor-24863 .elementor-element.elementor-element-4df9601{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;--gap:6px 6px;--row-gap:6px;--column-gap:6px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon{font-size:16px;}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon svg{height:16px;}.elementor-24863 .elementor-element.elementor-element-45103bc .elementor-icon{font-size:16px;}.elementor-24863 .elementor-element.elementor-element-45103bc .elementor-icon svg{height:16px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f{--container-widget-width:12%;--container-widget-flex-grow:0;width:var( --container-widget-width, 12% );max-width:12%;--nav-menu-icon-size:25px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown .elementor-item, .elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:16px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown a{padding-left:30px;padding-right:30px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:30px !important;}}@media(max-width:880px){.elementor-24863 .elementor-element.elementor-element-ca04083{--padding-top:5px;--padding-bottom:5px;--padding-left:10px;--padding-right:30px;}.elementor-24863 .elementor-element.elementor-element-5f84770{text-align:center;}.elementor-24863 .elementor-element.elementor-element-5f84770 img{width:150px;}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon{font-size:16px;}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon svg{height:16px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f{--container-widget-width:17%;--container-widget-flex-grow:0;width:var( --container-widget-width, 17% );max-width:17%;}}@media(max-width:767px){.elementor-24863 .elementor-element.elementor-element-ca04083{--min-height:70px;--justify-content:center;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-24863 .elementor-element.elementor-element-c2a87b8{--min-height:70px;--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-24863 .elementor-element.elementor-element-1d1db02{--width:50%;}.elementor-24863 .elementor-element.elementor-element-5f84770{text-align:start;}.elementor-24863 .elementor-element.elementor-element-5f84770 img{width:100px;height:40px;}.elementor-24863 .elementor-element.elementor-element-4df9601{--width:35%;--gap:0px 0px;--row-gap:0px;--column-gap:0px;}.elementor-24863 .elementor-element.elementor-element-e878abf > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon-wrapper{text-align:end;}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon{font-size:16px;}.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon svg{height:16px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f{--container-widget-width:30%;--container-widget-flex-grow:0;width:var( --container-widget-width, 30% );max-width:30%;--nav-menu-icon-size:23px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown .elementor-item, .elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:16px;}.elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-24863 .elementor-element.elementor-element-d3a1f2f .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:16px !important;}}@media(min-width:768px){.elementor-24863 .elementor-element.elementor-element-ca04083{--width:100%;}.elementor-24863 .elementor-element.elementor-element-1d1db02{--width:44%;}.elementor-24863 .elementor-element.elementor-element-dc78fe9{--width:12%;}.elementor-24863 .elementor-element.elementor-element-afde90d{--width:44%;}}@media(max-width:1366px) and (min-width:768px){.elementor-24863 .elementor-element.elementor-element-c2a87b8{--content-width:1080px;}.elementor-24863 .elementor-element.elementor-element-1d1db02{--width:33.33%;}.elementor-24863 .elementor-element.elementor-element-dc78fe9{--width:33.33%;}.elementor-24863 .elementor-element.elementor-element-afde90d{--width:33.33%;}.elementor-24863 .elementor-element.elementor-element-bb3230c{--content-width:1080px;}}@media(max-width:1024px) and (min-width:768px){.elementor-24863 .elementor-element.elementor-element-1d1db02{--width:50%;}.elementor-24863 .elementor-element.elementor-element-4df9601{--width:60%;}}@media(max-width:880px) and (min-width:768px){.elementor-24863 .elementor-element.elementor-element-4df9601{--width:50%;}}/* Start custom CSS for icon, class: .elementor-element-e878abf */.elementor-24863 .elementor-element.elementor-element-e878abf .elementor-icon {
    vertical-align: middle;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-45103bc */.elementor-24863 .elementor-element.elementor-element-45103bc .elementor-icon {
    vertical-align: middle;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-4df9601 */@media(min-width: 1365px) {
    .elementor-24863 .elementor-element.elementor-element-4df9601 {
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-9d2b6fe */.elementor-24863 .elementor-element.elementor-element-9d2b6fe .elementor-icon {
    vertical-align: middle;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-2048405 *//* Navbar Container */
.elementor-24863 .elementor-element.elementor-element-2048405 .custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Avenir', sans-serif;
}

/* Base Link Styles */
.elementor-24863 .elementor-element.elementor-element-2048405 .nav-item, 
.elementor-24863 .elementor-element.elementor-element-2048405 .dropbtn {
  padding: 8px 0;
  text-decoration: none;
  color: #003366; 
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  transition: color 0.3s;
}

.elementor-24863 .elementor-element.elementor-element-2048405 .dropbtn {
  background: none;
  border: none;
  cursor: pointer;
}

.elementor-24863 .elementor-element.elementor-element-2048405 .nav-item:hover, 
.elementor-24863 .elementor-element.elementor-element-2048405 .dropbtn:hover {
  color: #00bfff;
}

/* Dropdown Logic */
.elementor-24863 .elementor-element.elementor-element-2048405 .dropdown {
  position: relative;
}

.elementor-24863 .elementor-element.elementor-element-2048405 .mega-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f8fbff;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.08);
  border-radius: 12px;
  padding: 25px;
  z-index: 9999;
}

.elementor-24863 .elementor-element.elementor-element-2048405 .dropdown:hover .mega-menu {
  display: block;
}

/* Specific Menu Widths */
.elementor-24863 .elementor-element.elementor-element-2048405 .health-menu {
  min-width: 450px;
}

.elementor-24863 .elementor-element.elementor-element-2048405 .blog-menu {
  min-width: 450px;
  padding-bottom: 15px;
}

/* Layout for Health Menu */
.elementor-24863 .elementor-element.elementor-element-2048405 .menu-row {
  display: flex;
  gap: 20px;
}
.elementor-24863 .elementor-element.elementor-element-2048405 .menu-column {
    width: 50%;
}

.elementor-24863 .elementor-element.elementor-element-2048405 .menu-column h3 {
  font-family: "Avenir", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    line-height: 24px;
    color: #202253;
    margin: 0 0 8px 0;
}

/* Shared Link Styling in Dropdowns */
.elementor-24863 .elementor-element.elementor-element-2048405 .menu-column a, 
.elementor-24863 .elementor-element.elementor-element-2048405 .blog-list a {
  display: block;
  color: #202253;
  padding: 8px 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.2s ease;
}

.elementor-24863 .elementor-element.elementor-element-2048405 .menu-column a:hover, 
.elementor-24863 .elementor-element.elementor-element-2048405 .blog-list a:hover {
  color: #00bfff;
}

/* Blog Specific Footer Styling */
.elementor-24863 .elementor-element.elementor-element-2048405 .blog-footer {
  text-align: right;
  margin-top: 15px;
  border-top: 1px solid rgba(0,0,0,0.05);
  padding-top: 10px;
}

.elementor-24863 .elementor-element.elementor-element-2048405 .blog-footer a {
  font-size: 14px;
  font-weight: 700;
  color: #003366;
  text-decoration: none;
}

.elementor-24863 .elementor-element.elementor-element-2048405 .blog-footer a:hover {
  color: #00bfff;
}
.elementor-24863 .elementor-element.elementor-element-2048405 .blog-menu a {
    font-weight: 600;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-ca04083 *//***
* class: .sticky-header
*/
header.sticky-header .top {
	--header-height-top: 97px;
	--shrink-header-top: 0.75;
	--transition: .45s cubic-bezier(.4, 0, .2, 1);
	background-color: rgba(244, 245, 248, 1);
	transition: background-color var(--transition),
				backdrop-filter var(--transition),
				box-shadow var(--transition);
}
header.sticky-header .bottom {
	--header-height-bottom: 55px;
	--shrink-header-bottom: 0.9;
	--transition: .45s cubic-bezier(.4, 0, .2, 1);
	background-color: rgba(244, 245, 248, 1);
	transition: background-color var(--transition),
				backdrop-filter var(--transition),
				box-shadow var(--transition);
}

/***
* Sticky header activated
*/
header.sticky-header.elementor-sticky--effects {
	background-color: rgba(244, 245, 248, .8);
	box-shadow: 0px 4px 33px 1px rgba(0, 0, 0, .07);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}
/*top*/
header.sticky-header .top {
	min-height: var(--header-height-top);
	transition: min-height var(--transition);
}
header.sticky-header.elementor-sticky--effects .top {
	min-height: calc( var(--header-height-top) * var(--shrink-header-top) );
	height: calc( var(--header-height-top) * var(--shrink-header-top) );
}
/*bottom*/
header.sticky-header .bottom {
	min-height: var(--header-height-bottom);
	transition: min-height var(--transition);
}
header.sticky-header.elementor-sticky--effects .bottom {
	min-height: calc( var(--header-height-bottom) * var(--shrink-header-bottom) );
	height: calc( var(--header-height-bottom) * var(--shrink-header-bottom) );
}

/***
* Shorter header on mobile (70px instead of 100px)
*/
@media only screen and (max-width: 767px) {
	header.sticky-header {
		--header-height: 70px;
	}
	header.sticky-header .top {
    	--header-height-top: 70px;
    	--shrink-header-top: 0.75;
    }
}

/***
* class: .logo
*/
header.sticky-header .logo img {
	transition: transform var(--transition);
}
header.sticky-header.elementor-sticky--effects .logo img {
	transform: scale(.8);
}
/***
* Optional: Change menu font size on Scroll
*/
header.sticky-header.elementor-sticky--effects .bottom .elementor-nav-menu .elementor-item {
  font-size: 14px !important;
}
@media (min-width: 1200px) {
    header.sticky-header.elementor-sticky--effects .bottom .sub-menu a {
      font-size: 14px !important;
    }
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Criteria CF Test';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2023/06/CriteriaCF-Light.woff') format('woff');
}
@font-face {
	font-family: 'Criteria CF Test';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/06/CriteriaCF-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Criteria CF Test';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/11/CriteriaCF-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Criteria CF Test';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/11/CriteriaCF-DemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Criteria CF Test';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2023/06/CriteriaCF-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Criteria CF Test';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/11/CriteriaCF-ExtraBold-1.woff') format('woff');
}
@font-face {
	font-family: 'Criteria CF Test';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2024/11/CriteriaCF-Super.woff') format('woff');
}
/* End Custom Fonts CSS */